/**
* This scss will contains the stylesheets of 
* Piles and Pile components
*/

.solitaire-piles {
    display: flex;
    .solitaire-pile {
        width: calc(#{$card-width} / 2);
        height: calc(#{$card-height} / 2);
        &.is-empty-pile{
            width: calc(#{$card-width} / 2.5);
            height: calc(#{$card-height} / 2.5);
            border: 1px solid transparent;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            margin-top: 20px;
        }

        &.has-card {
            position: relative;
            margin-top: 20px;
        }
    }
}