$board-background-color: #3abb67;
$color-light: #ffffff;
$color-dark: #000000;
$color-dark-gray: #7a7a7a;
$color-dark-rgba: rgba(0, 0, 0, 0.4);

/*Card variables*/
$card-width: 222px;
$card-height: 323px;